%h1 Listing collections

%table
  %thead
    %tr
      %th Id
      %th Zakończenie
      %th Zapięcie
      %th Grubość
      %th Długość
      %th Cena
      %th
      %th

  %tbody
    - @collections.each do |collection|
      %tr
        %td= bracelet.id
        %td= bracelet.clasp
        %td= bracelet.casp
        %td= bracelet.row_count
        %td= bracelet.height
        %td= number_to_currency bracelet.sum_price
        %td= link_to 'Edit', edit_creator_bracelet_path(bracelet)
        %td= render "bracelet_row", bracelet: bracelet, order_item: @order_item
