= "Signed in as ...." + current_admin.email
= link_to('Wyloguj', destroy_admin_session_path, :method => :delete)
= link_to 'Bransoletki', admin_bracelets_path
= link_to 'Użytkownicy', admin_users_path
= link_to 'Zamówienia', admin_orders_path
= link_to 'Kolory', admin_colors_path
