%p#notice= notice

%p
  %b Color:
  = @color_position.color_id
%p
  %b Position:
  = @color_position.position
%p
  %b Bracelet_id
  = @color_position.bracelet_id

= link_to 'Edit', edit_creator_color_position_path(@color_position)
\|
= link_to 'Back', :back
