= simple_form_for [:creator, @bracelet] do |f|
  = notice
  - if @bracelet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bracelet.errors.count, "error")} prohibited this bracelet from being saved:"
      %ul
        - @bracelet.errors.full_messages.each do |msg|
          %li= msg
  %br
  %br
  = '1. Wybierz kolor'
  %br
  = '2. Wypełnij wszystko klikając na przycisk "wypełnij"(może to potrwać chwilę), wypełnij poszczególne wiersze klikając na ikonki lub wypełnij poszczególne komórki klikając na komórki'
  %br
  = '3. Stwórz swój wzór. Jeśli chcesz powtarzalny schemat na bransoletce wykonaj jeden schemat, resztę wzoru pozostaw białym.'
  %br
  = '4. Obserwuj zmiany na symulatorze bransoletki'
  %br
  = '5. Wybierz końcówki i zapięcie'
  %br
  = '6. Podsumuj swój projekt'
  %br
  %br
  = 'Twoja początkowa cena dla wybranej długości i szerokości bransoletki to:'
  %br
  = 'Cena netto'
  = number_to_currency(@bracelet.sum_price)
  = 'Cena brutto'
  = number_to_currency(@bracelet.sum_price * 1.23)
  %br
  = "Jeśli chcesz zmienić długość i szerokość bransoletki zrób to zanim stworzysz wzór! Jeśli się cofniesz, wszystkie zmiany z tego widoku nie zostaną zapisane."
  = link_to 'Zmień długość i szerokość bransoletki', new_creator_bracelet_path
  %br
  %br
  = render 'pallete' 
  %table
    %tr
      %td{class: "fill-entire_table", style:'width:150px',onclick:"fillTable(#{@bracelet.id})"}
        %center
          = "wypełnij"
  = render 'first_throw'
  .tools{style:'margin-left:15px;display:table;float:left'}
    - a = @bracelet.rows_for_first_throw
    - (0..a).each do |row_index|
      %table
        %tr
          %td{class: "fill-row-#{row_index}", style:'background-image:url("/assets/stock_bucketfill.png");background-size:cover', onclick:"fillRow(#{row_index}, #{@bracelet.id})"}


  = render 'second_throw'
  .field
    = f.label :Zakończenie
    = f.select :casp, options_for_select(%w[Srebrne Złote Miedziane]), include_blank: true
  .field
    = f.label :Zapięcie
    = f.select :clasp, options_for_select(%w[karabińczyk toogle]), include_blank: true
  = 'Cena netto'
  = number_to_currency(@bracelet.sum_price)
  = 'Cena brutto'
  = number_to_currency(@bracelet.sum_price * 1.23)
  %br
  - @bracelet.find_unavailable_colors.each do |f|
    %br
    = f
  %br
  %br
  Jeśli zamówisz bransoletkę z niedostępnym kolorem jej okres realizacji znacznie się wydłuży. O dokładnym czasie realizacji powiadomimy w osobnym mailu. Jeśli nie chcesz czekać, zmień niedostępny kolor na któryś z dostępnych kolorów
  %button 
    = link_to "Przelicz cenę", edit_creator_bracelet_path(@bracelet), :method => :get
  %br
  .actions
    = f.submit 'Podsumuj bransoletkę'
