= form_for [:creator, @bracelet] do |f|
  - if @bracelet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bracelet.errors.count, "error")} prohibited this bracelet from being saved:"
      %ul
        - @bracelet.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :row_count
    = f.number_field :row_count
  .field
    = 'Standardowa długość bransoletki to 17 cm (dodatkowe 2 cm doda zapięcie). Łącznie z zapięciem standarodwa bransoletka ma długość 19 cm Przy wyborze długości poniżej proszę podawać długość bez zapięcia!'
    = f.label :height
    = f.number_field :height
  .actions
    = f.submit 'Save'
