%p#notice= notice
.div-left
  = 'Podgląd wzoru'
  - (0..@bracelet.height).each do |row_index|
    %table
      %tr
        - if ((row_index % 2 ) == 0)
          %td.small-no-border
        - @bracelet.positions_in_first_look_for_iteration(row_index).to_a.each do |x|
          %td.small{style:"background-color:##{x.color.hex};"}
            - x.position
.div-right          
  %br
  Zapięcie:
  = @bracelet.clasp
  %br
  Zakończenie:
  = @bracelet.casp
  %br
  Ilość koralików w rzędzie
  = @bracelet.row_count
  %br
  Długość bransoletki
  = @bracelet.height
  %br
  Cena
  = @bracelet.price
  %br
  = link_to 'Edit', edit_creator_bracelet_path(@bracelet)
  \|
  = link_to 'Back', :back
  