= "Signed in as ...." + current_user.email
= link_to('Wyloguj', destroy_user_session_path, :method => :delete)
= link_to('Moje konto', edit_user_registration_path)
= link_to('Moje bransoletki', creator_collection_path(current_user.collection))
= link_to('Stwórz bransoletkę', new_creator_bracelet_path)
= link_to('Koraliki', creator_colors_path)
= link_to('Zamówienia', creator_orders_path)
.cart-text
  = render 'creator/devise/menu/cart_text'