= simple_nested_form_for [:admin, @order] do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  = f.association :user, :collection => User.order(:first_name), :prompt => 'Choose an existing owner'
  %br
  = f.association :bracelets, :collection => Bracelet.all, :prompt => 'bla'
  / Cena za jedną szt.
/   = number_to_currency order_item.unit_price
/   %br
/   Ilość
/   = order_item.quantity.to_i
/   %br
/   Cena łączna
/   %span{:style => "color: green"}= number_to_currency order_item.total_price
/   %br
/   %hr
