%h1 Listing orders

%table
  %thead
    %tr
      %th Order id
      %th Price
      %th Status
      %th
      %th

  %tbody
    - @orders.each do |order|
      %tr
        %td= order.id
        %td= order.subtotal
        %td= order.order_status.name
        %td= link_to 'Show', creator_order_path(order)
        %td= link_to 'Edit', edit_creator_order_path(order)
        %td= link_to 'Destroy', creator_order_path(order), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_creator_order_path
