= simple_form_for [:admin, @bracelet] do |f|
  - if @bracelet.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bracelet.errors.count, "error")} prohibited this bracelet from being saved:"
      %ul
        - @bracelet.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :row_count
    = f.number_field :row_count
  .field
    = f.label :height
    = f.number_field :height
  .field
    = f.label "Wybierz Użytkownika"
    %br/
    = f.association :user, label_method: :first_name, collection: User.all, prompt: "Wybierz użytkownika"
  .actions
    = f.submit 'Save'
