%h1 Bransoletki zamówione
%table
  %thead
    %tr
      %th Clasp
      %th Casp
      %th Row count
      %th Height
      %th Price
      %th order
      %th
      %th
      %th
    %tbody
    - @bracelets_with_order.each do |bracelet|
      %tr
        %td= bracelet.clasp
        %td= bracelet.casp
        %td= bracelet.row_count
        %td= bracelet.height
        %td= bracelet.price
        %td= bracelet.order.id.to_s
        %td= link_to 'Show', admin_bracelet_path(bracelet)
        %td= link_to 'Edit', edit_admin_bracelet_path(bracelet)
        %td= link_to 'Destroy', admin_bracelet_path(bracelet), :method => :delete, :data => { :confirm => 'Are you sure?' }
%h1 Bransoletki niezamówione
%table
  %thead
    %tr
      %th Clasp
      %th Casp
      %th Row count
      %th Height
      %th Price
      %th
      %th
      %th
    %tbody
    - @bracelets_without_order.each do |bracelet|
      %tr
        %td= bracelet.clasp
        %td= bracelet.casp
        %td= bracelet.row_count
        %td= bracelet.height
        %td= bracelet.price
        %td= link_to 'Show', admin_bracelet_path(bracelet)
        %td= link_to 'Edit', edit_admin_bracelet_path(bracelet)
        %td= link_to 'Destroy', admin_bracelet_path(bracelet), :method => :delete, :data => { :confirm => 'Are you sure?' }
%br
= link_to 'New Bracelet', new_admin_bracelet_path
