%p#notice= notice
#printable
  %button{:onclick => "PrintDiv('printable','filename');return false;", class:'hidden-on-print'}
    = "Drukuj"
  %br
  = 'Bransoletka użytkownika ' + @bracelet.user.first_name
  %br
  - if @bracelet.order.present?
    = 'Zamówienie nr ' + @bracelet.order.id.to_s
  - else
    Ta bransoletka nie jest jeszcze zamówiona
  %br
  Kolory użyte w bransoletce:
  = @colors.count
  %table
    - @colors.each do |color|
      %tr
        %td
          = color.try(:name)
        %td.color-to-select{style:"background-color:##{color.hex}"}
  %table
    - hash = @bracelet.pattern
    - hash.keys.sort.each do |key|
      - value = hash[key]
      %tr
        %td.admin-small{style:"background-color:##{value['color'].hex};"}
        %td 
          = "#{value['color'].name}"
        %td
          = "#{value['count']}"
    / %table
/       - @bracelet.color_positions.in_groups_of(50,false) do |row|
/         %tr
/           - row.each do |x|
/             %td.admin-small{style:"background-color:##{x.color.hex};"}
/               - x.position
.panel
  .div-right          
    %br
    Zapięcie:
    = @bracelet.clasp
    %br
    Wykończenie:
    = @bracelet.casp
    %br
    Ilość koralików w rzędzie
    = @bracelet.row_count
    %br
    Długość bransoletki
    = @bracelet.height.to_s + ' cm'
    %br
    Uzytkownik
    = @bracelet.user.first_name
    %br
    = 'Cena netto'
    = number_to_currency(@bracelet.sum_price)
    %br
    = 'Cena brutto'
    = number_to_currency(@bracelet.sum_price * 1.23)
    %br
    = link_to 'Edit', edit_admin_bracelet_path(@bracelet)
    \|
    = link_to 'Back', :back
    %br
    = 'Podgląd wzoru'
  %div{:style => "transform:rotate(90deg); -webkit-transform:rotate(90deg); \r\n-moz-transform:rotate(90deg); -o-transform:rotate(90deg);display: inline-block;margin-left:40%;margin-top:-30%"}
    - a = (@bracelet.height * 4.55).ceil
    - (0..a).each do |row_index|
      %table
        %tr
          - if ((row_index % 2 ) == 0)
            %td.small-no-border
          - @bracelet.positions_in_first_look_for_iteration(row_index).to_a.each do |x|
            %td.small{style:"background-color:##{x.color.hex};"}
              - x.position
  %br
  %div{:style => "transform:rotate(90deg); -webkit-transform:rotate(90deg); \r\n-moz-transform:rotate(90deg); -o-transform:rotate(90deg);display: inline-block;margin-left:42%;margin-top:-60%"}
    - a = (@bracelet.height * 4.55).ceil
    - (0..a).each do |row_index|
      %table
        %tr
          - if ((row_index % 2 ) == 0)
            - can = @bracelet.positions_in_second_look_for_iteration(row_index).to_a.first
          - else
            - can = @bracelet.positions_in_second_look_for_iteration(row_index).to_a.last  
          - @bracelet.positions_in_second_look_for_iteration(row_index).to_a.each do |x|
            - cla = can == x ? 'small_second' : 'normal_second'
            %td{style:"background-color:##{x.color.hex};", class: "#{cla}"}
              - x.position