%h1 Listing colors

%table
  %thead
    %tr
      %th Name
      %th Picture
      %th Available 
      %th
      %th
      %th

  %tbody
    - @colors.each do |color|
      %tr
        %td{class:color.available_css_class}= color.name
        %td= color.picture
        %td
          - if color.available?
            = 'Tak'
          - else
            = 'Nie'
        - if color.available?
          %td= link_to 'Show', creator_color_path(color)

%br
