%h1 Listing collections

%table
  %thead
    %tr
      %th Imię
      %th Nazwisko
      %th Nazwa kolekcji
      %th Public
      %th
      %th

  %tbody
    - @collections.each do |collection|
      %tr
        %td= collection.user.first_name if collection.user.present?
        %td= collection.user.last_name if collection.user.present?
        %td= collection.name
        %td= collection.public
        %td= link_to 'Show', admin_collection_path(collection)
        %td= link_to 'Edit', edit_admin_collection_path(collection)
        %td= link_to 'Destroy', admin_collection_path(collection), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Collection', new_admin_collection_path
