%p#notice= notice

%p
  %b Bracelet:
  - @bracelets.each do |bracelet|
    %br
    = bracelet.id
    = link_to 'Usuń bransoletkę', admin_bracelet_path(bracelet), :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'Edit', edit_admin_collection_path(@collection)
\|
= link_to 'Back', admin_collections_path
