= simple_form_for [:admin,@color] do |f|
  - if @color.errors.any?
    #error_explanation
      %h2= "#{pluralize(@color.errors.count, "error")} prohibited this color from being saved:"
      %ul
        - @color.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :picture
    = f.text_field :picture
  .field
    = f.label 'Dostępność'
    = f.input_field :available, as: :select, hint: 'You cannot change your username.'
  .actions
    = f.submit 'Save'
