%h1 Listing colors

%table
  %thead
    %tr
      %th Name
      %th Picture
      %th
      %th
      %th

  %tbody
    - @colors.each do |color|
      %tr
        %td= color.name
        %td= color.picture
        %td= link_to 'Show', creator_color_path(color)
        %td= link_to 'Edit', edit_creator_color_path(color)
        %td= link_to 'Destroy', creator_color_path(color), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Color', new_creator_color_path
