%h1 Listing colors

%table
  %thead
    %tr
      %th Name
      %th Picture
      %th Available 
      %th
      %th
      %th

  %tbody
    - @colors.each do |color|
      %tr
        %td{class:color.available_css_class}= color.name
        %td= color.picture
        %td
          - if color.available?
            = 'Tak'
          - else
            = 'Nie'
        %td= link_to 'Show', admin_color_path(color)
        %td= link_to 'Edit', edit_admin_color_path(color)
        %td= link_to 'Destroy', admin_color_path(color), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Color', new_admin_color_path
