!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ByKasiaKasprzak
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    -if signed_in?
      - if current_user
        = render 'creator/devise/menu/user_items'
      - if admin_signed_in?
        = render 'admin/devise/menu/admin_user_items'
    - else
      - if !current_page? new_admin_session_path && new_admin_registration_path
        = render 'creator/devise/menu/registration_items'
    = yield
